body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}
.signup_page{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    border-radius: 20px;
}
.signup_main_text{
    color: tomato;
    font-size: 35px;
    text-shadow: 2px 2px 5px tomato;
    margin: 15px;
}
.signup_name, .signup_phone, .signup_email, .signup_pw, .signup_con_pw{
    padding-bottom: 10px;
}
label{
    display: block;
    padding-bottom: 5px;
}
i{
    font-size: 20px;
    
}
#name, #phone, #email, #pw, #con_pw{
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
input::placeholder{
    font-size: 10px;
    padding-left: 5px;
}
#submit{
    margin: 10px 0px;
    width: 150px;
    height: 40px;
    background: linear-gradient(to left, rgb(255, 77, 66), rgb(255, 155, 47));
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
#submit:hover{
    color: black;
}